@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --electric: #cefa05;
  --electric-faded: #cdfa0533;
}

body {
  margin: 0;
  padding: 0;
  cursor: none;
}

::selection {
  background: var(--electric-faded);
}

*:hover {
  cursor: none;
}

.cursor-dot,
.trailing-dot {
  position: fixed;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.cursor-dot {
  background-color: var(--electric);
}

.trailing-dot {
  background-color: rgba(205, 250, 5, 0.6);
  transition: transform 0.1s ease-out;
}

@theme {
  --color-electric: var(--electric);
  --color-electric-faded: var(--electric-faded);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: lighten(var(--current), 20);
  }
  button {
    background-color: #f9f9f9;
  }
  .svg-background-fill {
    fill: #242424;
  }
}

@media (prefers-color-scheme: dark) {
  .svg-background-fill {
    fill: #fff;
  }
}
